html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background: #ddd;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	background-color: transparent;
	color: inherit;
	border-width: 0;
	padding: 0;
	cursor: pointer;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

p {
	margin: 0;
}

img {
	width: 100%;
	height: auto;
}
/* -------------------------------------------------------------- */
.wrapper {
	max-width: 100rem;
	margin: 4rem auto;
	padding: 2rem;
}

.title {
	font-size: 4.4rem;
	font-weight: bold;
	color: #339af0;
	padding: 1rem 0;
}

.panel {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #000;
	padding: 1rem;
	position: relative;
}

.panel__button {
	font-size: 1.6rem;
	margin: 0.5rem;
	padding: 5px 10px;
	outline: none;
}

.panel__button:hover,
.panel__button--active {
	background: rgb(200, 197, 197);
}

.panel__button--active {
	background: rgb(158, 158, 158);
}

.panel__button:nth-last-child(1) {
	padding: 0;
	position: absolute;
	right: 0;
	cursor: pointer;
}

.panel__button:nth-last-child(1):hover {
	background: transparent;
}

.output {
	outline: none;
	height: 400px;
	background: #fff;
	padding: 20px;
	border: none;
	font-size: 1.6rem;
}

@media (max-width: 600px) {
	.panel__button:nth-last-child(1) {
		position: relative;
	}
}
